{% extends 'base.html' %}

{% block css %}
    <style>
        .common {
            margin: 10px;
            font-size: 1.1rem;
            min-height: 50px;
        }
        .common button {
            font-size: 1.1rem;
            cursor: pointer;
        }
        .common_field {
            font-size: 1.1rem;
            padding: 4px;
        }
    </style>
{% endblock %}

{% block content %}
    <form action="#" method="post">
        {% csrf_token %}
        <div class="common">
            Input values: <input type="text" name="input_values" class="common_field" placeholder="1, 2, 3, 4..." required>
        </div>
        <div class="common">
            Search value: <input type="text" maxlength="1" name="input_value" class="common_field" placeholder="1" required>
        </div>
        <div class="common">
            <button type="submit">Khoj</button>
        </div>
    </form>
    <div>
        <span style="font-weight: 600;">Result: True</span>
    </div>
{% endblock %}